[submodule "lib/vendor/altumo"]
	path = lib/vendor/altumo
	url = git://github.com/homer6/altumo.git
[submodule "lib/vendor/swiftmailer"]
	path = lib/vendor/swiftmailer
	url = https://github.com/swiftmailer/swiftmailer.git
[submodule "lib/vendor/querypath"]
	path = lib/vendor/querypath
	url = git://github.com/technosophos/querypath.git
